{% extends "base.html.twig" %}

{% block title %}Kortspel{% endblock %}

{% block body %}
    <h1>Kortlek</h1>
    <nav>
        <ul>
            <li><a href="{{ path('card_deck') }}">Visa kortleken</a></li>
            <li><a href="{{ path('card_deck_shuffle') }}">Blanda</a></li>
            <a href="{{ path('card_deck_draw') }}">Dra ett kort</a>
            <a href="{{ path('card_deck_draw', { number: 5 }) }}">Dra 5 kort</a>
        </ul>
    </nav>
    
{% endblock %}
