{% extends "base.html.twig" %}

{% block title %}Kortlek{% endblock %}

{% block body %}
    <div class="deck-page">
        <h1>Kortlek</h1>

        <div class="card-container">
            {% for card in deck %}
                {% include 'card/_card.html.twig' with { card: card } %}
            {% endfor %}
        </div>
        
    </div>
{% endblock %}
