{% extends "base.html.twig" %}

{% block title %}Drog Kort{% endblock %}

{% block body %}
    <div class="draw-single">
        <h1>Drog Kort</h1>

        <div class="card-container">
            {% for card in drawnCards %}
                {% include 'card/_card.html.twig' with { card: card } %}
            {% endfor %}
        </div>

        <p class="remaining-cards">Antal kort kvar: {{ remaining }}</p>
    </div>
{% endblock %}
