{% extends "base.html.twig" %}

{% block title %}Dra Flera Kort{% endblock %}

{% block body %}
    <div class="draw-multiple">
        <h1>Dra Flera Kort</h1>

        <ul class="card-list">
            {% for card in drawnCards %}
                {% include 'card/_card.html.twig' with { card: card } %}
            {% endfor %}
        </ul>

        <p class="remaining-cards">Antal kort kvar: {{ remaining }}</p>
    </div>
{% endblock %}
