{% extends 'base.html.twig' %}

{% block title %}Session Debug{% endblock %}

{% block body %}

    {% include 'flash.html.twig' %}  {# Inkluderar flash-meddelanden #}

    <h2>Sessionsinnehåll:</h2>
    <pre>{{ dump(sessionData) }}</pre>

{% endblock %}
