{% extends "base.html.twig" %}

{% block title %}Blandad Kortlek{% endblock %}

{% block body %}
    <div class="blandad-kortlek">
        <h1>Blandad Kortspel</h1>
        <ul>
            {% for card in deck %}
                {% include 'card/_card.html.twig' with { card: card } %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
